* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body {
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(135deg, #E83C91, #E83C91, #FF758C, #FF7EB3 , #FFB199);
}

.container {
    display:flex;
    flex-direction:column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin:20px;
}

.container .tenor-gif-embed {
    max-width: 200px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}